* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #e1e8eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  padding: 1rem 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 1050px;
  height: 520px;
  padding: 0;
  margin: 10% 0;
  border-radius: 10px;
}
.textarea {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 1rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

textarea {
  all: unset;
  text-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: aliceblue;
}

.resultpane {
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 1rem;
  margin: 0;

  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

label {
  font-size: small;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.delimiters {
  display: flex;
  flex-direction: row;
}

.delimiter {
  display: flex;
  flex-direction: column;
}
